* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 740px;
  height: 480px;
  background: linear-gradient(rgba(161,96,177,1), rgba(160,132,215,1));
  padding: 10px 10px;
  margin: 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v5_14 {
  width: 355px;
  height: 151px;
  background: url("v5_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 170px;
  left: -75px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.v5_17 {
  width: 394px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 74px;
  left: 230px;
  right:100px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: right;
}
.v5_20 {
  width: 450px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 201px;
  left: 230px;
  font-family: Inter;
  font-weight: Regular;
  opacity: 1;
  text-align: left;
}
.v5_23 {
  width: 170px;
  height: 38px;
  background: rgba(27,14,14,1);
  opacity: 1;
  position: absolute;
  top: 372px;
  left: 52px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v5_26 {
  width: 155px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 382px;
  left: 45px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v5_27{

  width: 200px;
  height:40px;
  position: right;
  border-radius: 10px;
  color: #ffffff;
  background: #000;
  font-size: medium;
}
